<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\css\about.css">
  <link rel="stylesheet" href="static\css\flash_message.css">
  <title>O Senhor dos Hotéis</title>
</head>
<body>
  <div class="wrapper">
    <main>
      <section class="module parallax parallax-1">
        <div class="container">
            <nav>
              <div class="logo">
                <img src="static/imagem/logo.jpg" alt="O Senhor Dos Anéis" class="imagem-painel">
                <div class="titulo"> Conheça mais <br> sobre o <span class="highlight">precioso</span> hotel </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2 style="text-align: center;">Em uma Toca no chão vivia um hóspede...</h2>
          <h1 style="text-align: center;">
            Nossos quartos, como os salões de Valfenda, são oásis de conforto e tranquilidade, perfeitos para renovar suas forças após um dia repleto de aventuras. 
          </h1>    
      </section>

      <section class="module parallax parallax-2">
      </section>

      <section class="module content">
        <div class="container">
          <h2 style="text-align: center"> Seu refúgio, sua jornada! </h2>
          <h1 style="text-align: center;">
            Aqui, você encontrará mais do que uma hospedagem: encontrará um porto seguro para suas jornadas, pois como diria Gandalf: 
          </h1>
          <h1 style="text-align: center">
            "Nem todos que vagam estão perdidos."
          </h1>
        </div>
      </section>

      <section class="module parallax parallax-3">
      </section>

      <section class="module content">
        <div class="container">
          <p style="text-align: center; font-size: larger;">
            Copyright © 2024 O Senhor dos Hotéis. Todos os direitos reservados.
          </p>          
        </div>
      </section>

    </main>
  </div>

</body>
</html>