<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\css\about.css">
  <link rel="stylesheet" href="static\css\flash_message.css">
  <title>O Senhor dos Hotéis</title>
</head>
<body>
  <div class="wrapper">
    <main>
      <section class="module parallax parallax-1">
        <div class="container">
            <nav>
              <div class="logo">
                <img src="static/imagem/logo.jpg" alt="O Senhor Dos Anéis" class="imagem-painel">
                <div class="titulo"> Conheça mais <br> sobre o <span class="highlight">precioso</span> hotel </div>
                <h2 style="text-align: center;">Um desjejum aprovado por hobbits</h2>
      </section>

      <section class="module content">
        <div class="container">
          <h2 style="text-align: center;">Oásis de Lothlórien, relaxe na nossa piscina</h2> 
      </section>

      <section class="module parallax parallax-2">
      </section>

      <section class="module content">
        <div class="container">
          <h2 style="text-align: center">A sala de jogos de Sam, lazer e diversão em um lugar</h2>
          <h1 style="text-align: center;">

        </div>
      </section>

      <section class="module parallax parallax-3">
      </section>

      <section class="module content">
        <div class="container">
          <p style="text-align: center; font-size: larger;">
            Copyright © 2024 O Senhor dos Hotéis. Todos os direitos reservados.
          </p>          
        </div>
      </section>

    </main>
  </div>

</body>
</html>