<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel</title>
</head>
<body>
    <h1>Bem-vindo ao Hotel</h1>
    <h2>Buscar Quartos Disponíveis</h2>
    <form action="{{ url_for('quartos') }}" method="post">
        <label for="numero_pessoas">Número de Pessoas:</label>
        <input type="number" id="numero_pessoas" name="numero_pessoas" required>

        <label for="checkin">Data de Check-in:</label>
        <input type="date" id="checkin" name="checkin" required>

        <label for="checkout">Data de Check-out:</label>
        <input type="date" id="checkout" name="checkout" required>

        <button type="submit">Buscar Quartos</button>
    </form>
    <a href="{{ url_for('login_cadastro') }}">Faça login ou cadastro aqui</a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash-messages">
        {% for message in messages %}
          <div class="alert alert-info flash-message" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  
  <script src="/static/flash_message_time.js"></script>
  
</body>
</html>

