<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>O Senhor Dos Hotéis</title>
</head>
<body>
  <div class="container">
    <nav>
      <div class="logo">
        <img src="static/imagem/logo.jpg" alt="O Senhor Dos Anéis" class="imagem-painel">
        <div class="titulo"> O Senhor <br> Dos Hotéis</div>
        <div>
          <img src="static/imagem/folhae.png" class="folhae" alt="Folhae">
        </div>
        
      </div>
      <hr>
      <!-- Menu de navegação -->
      <ul>
        <li><a href="#">Sobre</a></li>
        {% if usuario_email %}
        <li>
          <span class="user-info">Bem-vindo, {{ usuario_email }}!</span>
          <a href="{{ url_for('logout') }}" class="button">Sign-out</a>
        </li>
        {% else %}
          <li><a href="{{ url_for('login_cadastro') }}" class="button">Log-in/Cadastro</a></li>
        {% endif %}
        <li><a href="#">Suporte</a></li>
      </ul>
    </nav>
  </div>
  
    <div class="fundo"></div>
    <div class="content">
      
    </div>
    <div>
      <img src="static/imagem/Plano.png" class="parallax" >
    </div>
  
    <div class = "form-container">
      <form action="{{ url_for('quartos') }}" method="post">
        <label for="numero_pessoas"></label>
        <input type="number" id="numero_pessoas" name="numero_pessoas" placeholder="Número de pessoas:" required>
        
        <label for="checkin" class = "check">Check-in:</label>
        <input type="date" id="checkin" name="checkin" placeholder="Check-in" required>
    
        <label for="checkout"class="check">Check-out:</label>
        <input type="date" id="checkout" name="checkout" placeholder="Check-out" required>
    
        <button type="submit">Buscar Quartos</button>
    </form>   
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash-messages">
        {% for message in messages %}
          <div class="alert alert-info flash-message" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}    

  
  <script src="/static/flash_message_time.js"></script>
  
</body>
</html>

