<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel</title>
</head>
<body>
    <h1>Bem-vindo ao Hotel</h1>
    <h2>Buscar Quartos Disponíveis</h2>
    <form action="{{ url_for('quartos') }}" method="post">
        <label for="numero_pessoas">Número de Pessoas:</label>
        <input type="number" id="numero_pessoas" name="numero_pessoas" required>

        <label for="checkin">Data de Check-in:</label>
        <input type="date" id="checkin" name="checkin" required>

        <label for="checkout">Data de Check-out:</label>
        <input type="date" id="checkout" name="checkout" required>

        <button type="submit">Buscar Quartos</button>
    </form>
</body>
</html>

