<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form action="/login_cadastro" method="POST">
        <input type="name" name="nome" placeholder="Nome" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="tel" name="tel" placeholder="Telefone" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit"Cadastrar></button>
    </form>
</body>
</html>
