<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quartos disponíveis</title>
    <link rel="stylesheet" href="static/quar.css">
</head>
<body>
    {% if quartos %}
    <h2>Quartos Disponíveis:</h2>
    <div class="quartos">
        {% for quarto in quartos %}
            <div class="quarto1">
                <img src="static/imagem/bolsao.avif">
                <h3>{{ quarto['Nome'] }}</h3>
                <p>Capacidade: {{ quarto['capacidade'] }} pessoas</p>
                <p>Preço por noite: R$ {{ quarto['preco_diaria'] }}</p>
                <p><a href="{{ url_for('reserva', quarto_id=quarto.id, usuario_id=usuario_id) }}">Ver Detalhes e Reservar</a></p>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Nenhum quarto disponível para as datas e número de pessoas selecionados.</p>
{% endif %}
</body>
</html>