<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Quarto</title>
</head>
<body>
    <div class="container">
        <h1>Detalhes do Quarto</h1>
        <!-- Imagem do quarto -->
        <img src="{{ url_for('static', filename=quarto['imagem'].replace('static/', '').replace('/reserva', '')) }}" class="quarto-img">


        
        <!-- Detalhes do quarto -->
        <div class="details">
            <p><strong>Nome:</strong> {{ quarto.Nome }}</p>
            <p><strong>Capacidade:</strong> {{ quarto.capacidade }}</p>
            <p><strong>Preço da diária:</strong> R$ {{ quarto.preco_diaria }}</p>
            <p><strong>Preço total:</strong> R$ {{ preco_total }}</p>
        </div>
        
        <!-- Formulário de confirmação -->
        <form method="POST">
            <button type="submit">Confirmar Reserva</button>
        </form>
    </div>
</body>
</html>

