<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>O Senhor Dos Hotéis </title>
</head>
<body>
  <div class="container">
    <nav>
      <div class="logo">
        <img src="static/imagem/logo.jpg" alt="O Senhor Dos Anéis" class="imagem-painel">
        <div class="titulo"> O Senhor <br> Dos Hotéis</div>
        <div>
          <img src="static/imagem/folhae.png" class="folhae" alt="Folhae">
        </div>
        
      </div>
      <hr>
      <!-- Menu de navegação -->
      <ul>
        <li><a href="#">Suporte</a></li>
        <li><a href="{{ url_for('login_cadastro') }}" class="button">Log-in/Cadastro</a></li>
        <li><a href="#">Sobre</a></li>
      </ul>
    </nav>

  </div>
  
    <div class="fundo"></div>
    <div class="content">
        
    </div>
    <div>
      <img src="static/imagem/Plano.png" class="parallax" >
    </div>
  <a href="{{ url_for('login_cadastro') }}" class="button">Acessar Login/Cadastro</a>

<div class = "form-container">
  <form action="/" method="post">
    <label for="numero_pessoas"></label>
    <input type="number" id="numero_pessoas" name="numero_pessoas" placeholder="Número de pessoas:" required>
    
    <label for="checkin" class = "check">Check-in:</label>
    <input type="date" id="checkin" name="checkin" placeholder="Check-in" required>

    <label for="checkout"class="check">Check-out:</label>
    <input type="date" id="checkout" name="checkout" placeholder="Check-out" required>

    <button type="submit">Buscar Quartos</button>
</form>

</div>

  {% if quartos %}
      <h2>Quartos Disponíveis:</h2>
      <ul>
          {% for quarto in quarto %}
              <li>Quarto ID: {{ quarto['id'] }} - Capacidade: {{ quarto['capacidade'] }} - Preço: {{ quarto['preco_diaria'] }}</li>
          {% endfor %}
      </ul>
  {% else %}
      <p>Nenhum quarto disponível.</p>
  {% endif %}





</body>
